# =========================================
# ARCHIVOS GENERALES DEL SISTEMA
# =========================================
.DS_Store
Thumbs.db

# =========================================
# ENTORNOS VIRTUALES
# =========================================
venv/
.env/
.venv/

# =========================================
# ARCHIVOS DE PYTHON
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# =========================================
# JUPYTER NOTEBOOKS
# =========================================
.ipynb_checkpoints/

# =========================================
# ARCHIVOS DE CONFIGURACIÓN O SECRETOS
# =========================================
*.env
*.ini
*.cfg
*.json
*.yaml
*.yml

# Evitar subir credenciales
credentials/
secrets/
token.json

# =========================================
# MLflow
# =========================================
mlruns/

# =========================================
# MODELOS
# =========================================
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.pth
*.onnx

# =========================================
# ARCHIVOS DE DATOS GRANDES
# =========================================
data/
datasets/
*.csv
*.xlsx
*.parquet
*.feather

# =========================================
# LOGS Y SALIDAS
# =========================================
logs/
*.log
*.out
*.err

# =========================================
# CACHE DE LIBRERÍAS
# =========================================
.cache/
pip-wheel-metadata/
